@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.property-drawer-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 240px;
  height: 800px;
}
.batches,
.div {
  position: relative;
  line-height: 20px;
}
.batches {
  flex: 1;
  text-decoration: underline;
  font-weight: 600;
}
.div {
  font-size: var(--regular-paragraph-small-size);
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
}
.single-item {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.navigation-stack-child {
  position: relative;
  border-top: 1px solid var(--revx-blue);
  box-sizing: border-box;
  width: 209px;
  height: 1px;
}
.entity-management {
  align-self: stretch;
  font-size: var(--semi-bold-paragraph-regular-size);
  font-weight: 600;
  color: var(--gray);
}
.create-asset,
.div2,
.entity-management {
  position: relative;
  line-height: 20px;
}
.create-asset {
  text-decoration: underline;
  display: flex;
  align-items: center;
  width: 171px;
  flex-shrink: 0;
}
.div2 {
  font-family: var(--font-font-awesome-6-pro);
}
.create-entity {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.create-asset1,
.group {
  width: 208px;
  gap: var(--gap-base);
}
.create-asset1 {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.group {
  font-size: var(--regular-paragraph-small-size);
  color: var(--white);
}
.group,
.navigation-stack,
.scrollable-pane {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-stack {
  gap: var(--gap-base);
}
.scrollable-pane {
  position: absolute;
  top: 128px;
  left: 16px;
  height: 672px;
  overflow-y: auto;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  text-align: left;
  color: var(--color-aliceblue-100);
}
.recently-used {
  position: relative;
  line-height: 20px;
}
.chip-active,
.chip-active1 {
  position: absolute;
  top: 72px;
  border-radius: var(--br-base);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-smi);
}
.chip-active {
  left: 115px;
  border: 1px solid var(--revx-blue);
}
.chip-active1 {
  left: 14px;
  background-color: var(--rsi-blue);
}
.search-field {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--revx-blue);
  box-sizing: border-box;
  width: 208px;
  height: 40px;
}
.start-typing {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 17.5px;
}
.start-typing-wrapper {
  position: absolute;
  top: 11px;
  left: 11px;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 208px;
  height: 40px;
}
.property-drawer,
.property-module-child {
  position: absolute;
  top: 0;
  left: 80px;
  width: 240px;
  height: 800px;
}
.property-module-child {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
}
.div6,
.property {
  position: absolute;
  font-weight: 300;
  text-align: center;
}
.div6 {
  top: 29.17%;
  left: 35%;
  font-size: var(--regular-heading-6-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-family: var(--font-font-awesome-6-pro);
  color: var(--color-gray-100);
}
.property {
  top: 70.83%;
  left: 17.5%;
  font-size: var(--regular-paragraph-small-size);
  line-height: 20px;
  font-family: var(--regular-paragraph-small);
  color: var(--white);
}
.property-module-shield {
  position: absolute;
  height: 50%;
  width: 52.5%;
  top: 16.67%;
  right: 23.75%;
  bottom: 33.33%;
  left: 23.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.property-module {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 302px;
  left: 0;
  width: 80px;
  height: 96px;
}
.revenue-module-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-aliceblue);
  border: 1px solid var(--rsi-blue);
  box-sizing: border-box;
}
.revenue {
  position: absolute;
  top: 70.83%;
  left: 16.25%;
  font-size: var(--regular-paragraph-small-size);
  line-height: 20px;
  font-family: var(--regular-paragraph-small);
  color: var(--rsi-blue);
  text-align: center;
}
.revenue-module {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 206px;
  left: 0;
  width: 80px;
  height: 96px;
}
.revenue-module:hover .revenue-module-child {
  background-color: var(--color-gray-100);
}
.revenue-module:hover .revenue {
  color: var(--color-white-100);
}
.adv-search-button-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--revx-blue);
}
.div7 {
  position: absolute;
  top: 30%;
  left: 25%;
  font-size: var(--regular-heading-6-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
  text-align: center;
}
.adv-search-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 142px;
  left: 20px;
  width: 40px;
  height: 40px;
}
.adv-search-button:hover .adv-search-button-child {
  background-color: var(--white);
}
.adv-search-button:hover .div7 {
  color: var(--revx-blue);
}
.dashboard-button-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--revx-blue);
}
.div8 {
  position: absolute;
  top: 30%;
  left: 25%;
  font-size: var(--regular-heading-6-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
  text-align: center;
}
.dashboard-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 70px;
  left: 20px;
  width: 40px;
  height: 40px;
}
.dashboard-button:hover .dashboard-button-child {
  background-color: var(--white);
}
.bookmarks-button:hover .div9,
.dashboard-button:hover .div8 {
  color: var(--revx-blue);
}
.rev-x-logo-svg {
  position: absolute;
  top: 0;
  left: 12px;
  width: 56px;
  height: 21.85px;
}
.main-navigation {
  position: relative;
  width: 80px;
  height: 398px;
}
.div9 {
  position: absolute;
  top: 27.5%;
  left: 25%;
  font-size: var(--light-heading-5-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
  text-align: center;
}
.bookmarks-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 40px;
  height: 40px;
}
.bookmarks-button:hover .dashboard-button-child {
  background-color: var(--white);
}
.blue-nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--rsi-blue);
  width: 80px;
  height: 800px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-lgi) 0 var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.tenant-navigation-drawers-pr {
  position: relative;
  width: 320px;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  max-width: 90%;
  text-align: center;
  font-size: var(--semi-bold-paragraph-regular-size);
  color: var(--white);
  font-family: var(--regular-paragraph-small);
}
.tenant-navigation-drawers-pr.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
@media screen and (max-width: 1200px) {
  .blue-nav-bar {
    position: fixed;
  }
}
